{% extends 'base.html' %}

{% block title %} {{ user.username }}'s Warren {% endblock %}

{% block menuportfolios %}
<form style="margin-left:1rem;" onchange="submit();" class="form-inline mr-auto" action="{% url 'portfolio-change' %}">
    <select name='portfolio' class="form-control">
            <option value="---">default</option>
        {% for p in portfolio_list %}
            <option value="{{ p.pk }}" 
            {% if p.pk == request.user.userprofile.portfolio.pk %}selected{% endif %}>{{ p.name }}</option>
        {% endfor %}
    </select>
    &nbsp;&nbsp;<button type="button" data-toggle="modal" data-target="#portfolioModal" class="btn btn-circle btn-sm btn-secondary waves-effect waves-dark">+</button>
</form>
{% endblock menuportfolios %}
{% block content %}

{% load nvd3_tags %}
<head>
    {% if has_data == True %}
    {% include_chart_jscss %}
    {% load_chart fiat_piechart.charttype fiat_piechart.chartdata fiat_piechart.chartcontainer fiat_piechart.extra %}
    {% load_chart time_series.charttype time_series.chartdata time_series.chartcontainer time_series.extra %}
    {% endif %}
</head>
<body>
    {% if has_data == True %}
    <div class="row py-2">
        <div class="col-md-4">
            <label>
                <b>Cryptocurrency holdings:</b>
            </label>
        </div>
        <div class="col-md-8">
            <span>
                {{ fiat_sum }} {{ fiat }}
            </span>
            
            <button type="button" data-toggle="modal" data-target="#addPositionModal" class="float-right btn btn-success waves-effect waves-dark"><i class="mdi mdi-plus-circle"></i> Add position</button>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Currency</th>
                    <th>Balance</th>
                    <th>Timestamp</th>
                    <th>Related addresses</th>
                    <th>Wallet holdings</th>
                    <th>Wallet description</th>
                </tr>
            </thead>
            <tbody>
                {% for balance in balances|dictsortreversed:"amount" %}
                <tr>
                    <td>{{ balance.currency }}</td>
                    <td>{{ balance.amount|floatformat:-8 }}</td>
                    <td>
                        {{ balance.timestamp }}
                    </td>
                    <td>
                        {% for addr in balance.addresses %}
                            <a target="_blank" href="{{ addr.block_explorer_link }}">{{ addr.address|truncatechars:34 }}&nbsp;<i class="fas fa-external-link-alt"></i></a><br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for addr in balance.addresses %}
                            {{ addr.amount }}&nbsp;{{ addr.currency }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for addr in balance.addresses %}
                            {% if addr.description %}&nbsp;<small>{{ addr.description }}</small>{% endif %}<br/>
                        {% endfor %}
                    </td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <div>
        <h3>Balances in {{ fiat }}</h3>
        {% include_container fiat_piechart.chartcontainer 400 '100%' %}
    </div>
    <hr>
    {% else %}
    <button type="button" data-toggle="modal" data-target="#addPositionModal" class="float-right btn btn-success waves-effect waves-dark"><i class="mdi mdi-plus-circle"></i> Add position</button>
    <p>Nothing to show :(</p>
    <p>Please add API keys and secrets in <a href="{% url 'settings' %}">settings</a>!</p>
    {% endif %}


<!-- Modal -->
<div class="modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new portfolio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'portfolio-create' %}?redirect=/" method="POST">
      <div class="modal-body">
        {% csrf_token %}
        <input placeholder="New portfolio's name" type="text" class="form-control" name="name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="addPositionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add position</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-12">
                    <select id="addPositionSelect" class="form-control">
                        <option value="1" selected="selected">Add manual balance</option>
                        <option value="2">Add wallet address</option>
                        <option value="3">Add exchange keys</option>
                    </select>
                </div>
            </div>
        </div>
        <form id="addPositionmanualInput" method="post" action="{% url 'manual_input' %}?redirect=/">
            {% csrf_token %}

            <div class="form-group">
                {% if balance_form.currency.errors %}
                {% for error in balance_form.currency.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|safe }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="{{ balance_form.currency.id_for_label }}">
                            {{ balance_form.currency.label }}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <select
                            class="form-control"
                            id="{{ balance_form.currency.id_for_label }}"
                            name="{{ balance_form.currency.name }}">
                            {% for value, text in balance_form.currency.field.choices %}
                            <option value={{ value }} {% if value|stringformat:"s" == balance_form.currency.value %} selected {% endif %}>
                            {{ text|capfirst }}
                            </option>
                            {% endfor %}
                        </select>

                        {% if balance_form.currency.help_text %}
                        <small class="form-text text-muted">
                            {{ balance_form.currency.help_text|safe }}
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {% if balance_form.amount.errors %}
                {% for error in balance_form.amount.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|safe }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="{{ balance_form.amount.id_for_label }}">
                            {{ balance_form.amount.label }}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input
                            type="text"
                            class="form-control"
                            id="{{ balance_form.amount.id_for_label }}"
                            name="{{ balance_form.amount.name }}"
                            value="{{ balance_form.amount.value|default_if_none:"0" }}"
                        />
                        {% if balance_form.amount.help_text %}
                        <small class="form-text text-muted">
                            {{ balance_form.amount.help_text|safe }}
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <input type="submit" class="text-white form-control btn btn-primary" value="Add">
                    </div>
                </div>
            </div>
        </form>

        <form id="addPositionAddress" method="post" action="{% url 'address_input' %}?redirect=/">
            {% csrf_token %}

            <div class="form-group">
                {% if address_form.currency.errors %}
                {% for error in address_form.currency.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|safe }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="{{ address_form.currency.id_for_label }}">
                            {{ address_form.currency.label }}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <select
                            class="form-control"
                            id="{{ address_form.currency.id_for_label }}"
                            name="{{ address_form.currency.name }}">
                            {% for value, text in address_form.currency.field.choices %}
                            <option value={{ value }} {% if value|stringformat:"s" == address_form.currency.value %} selected {% endif %}>
                            {{ text|capfirst }}
                            </option>
                            {% endfor %}
                        </select>

                        {% if address_form.currency.help_text %}
                        <small class="form-text text-muted">
                            {{ address_form.currency.help_text|safe }}
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {% if address_form.address.errors %}
                {% for error in address_form.address.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|safe }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="{{ address_form.address.id_for_label }}">
                            {{ address_form.address.label }}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input
                            type="text"
                            class="form-control"
                            id="{{ address_form.address.id_for_label }}"
                            name="{{ address_form.address.name }}"
                            value="{{ address_form.address.value|default_if_none:"0" }}"
                        />
                        {% if address_form.address.help_text %}
                        <small class="form-text text-muted">
                            {{ address_form.address.help_text|safe }}
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {% if address_form.description.errors %}
                {% for error in address_form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error|safe }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="{{ address_form.description.id_for_label }}">
                            {{ address_form.description.label }}:
                        </label>
                    </div>
                    <div class="col-md-8">
                        <input
                            type="text"
                            class="form-control"
                            id="{{ address_form.description.id_for_label }}"
                            name="{{ address_form.description.name }}"
                            value="{{ address_form.description.value|default_if_none:"0" }}"
                        />
                        {% if address_form.description.help_text %}
                        <small class="form-text text-muted">
                            {{ address_form.description.help_text|safe }}
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <input type="submit" class="text-white form-control btn btn-primary" value="Add">
                    </div>
                </div>
            </div>
        </form>
        <div id="addPositionExchange">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <h4>Please select exchange</h4>
                            <div class="list-group">
                                {% for exchange in exchanges %}
                                <a
                                    class="list-group-item list-group-item-action"
                                    href="{% url 'exchange' exchange.name %}">
                                    {{exchange.name}}
                                </a>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

$('.alert').delay(5000).fadeOut(900);

$("#addPositionSelect").val('1');
$("#addPositionAddress").hide()
$("#addPositionExchange").hide()

$('#addPositionSelect').on('change', function() {
    var val = this.value;
    if (val == '1') {
        $("#addPositionmanualInput").show()
        $("#addPositionAddress").hide()
        $("#addPositionExchange").hide()
    } else if (val == '2') {
        $("#addPositionmanualInput").hide()
        $("#addPositionAddress").show()
        $("#addPositionExchange").hide()
    } else if (val == '3') {
        $("#addPositionmanualInput").hide()
        $("#addPositionAddress").hide()
        $("#addPositionExchange").show()
    }
});
</script>

{% endblock %}

